// README
// This is only a .env example
// Do not change this file while adding your GIPHY API KEY here!
// Use cp or mv (like this: cp env.example .env), then edit .env with your GIPHY API KEY.
// IMPORTANT: Don't forget to add to update your .gitignore with .env (to avoid making your key public!)

GIPHY_API_KEY="YOUR GIPHY API KEY"